{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false, // 防止babel在rollup之前将es6模块化转成commonjs
                "useBuiltIns": "usage",
                "corejs": "2.6.10",
                "targets": {
                    "ie": 10
                }
            }
        ]
    ],
    "plugins": [
        // 解决多个地方使用相同代码导致打包重复的问题
        [
            "@babel/plugin-transform-runtime"
        ]
    ],
    "ignore": [
        "node_modules/**"
    ]
}